<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


<!--    <bean id="MyStudent" class="com.bjpowernode.ba01.Student">-->
<!--        <constructor-arg name="name" value="王五"/>-->
<!--        <constructor-arg name="age" value="23"/>-->
<!--        <constructor-arg ref="mybigschool"/>-->
<!--    </bean>-->
<!--也可以省略index但是要按顺序写-->
    <bean id="MyStudent" class="com.bjpowernode.ba01.Student">
        <constructor-arg index="0" value="利器"/>
        <constructor-arg index="1" value="23"/>
        <constructor-arg index="2" ref="mybigschool"/>
    </bean>

    <bean id="mybigschool" class="com.bjpowernode.ba01.School">
        <constructor-arg name="address" value="上街"/>
        <constructor-arg name="name" value="上街大学"/>
    </bean>





</beans>